<template name="nav">
  <i class="large logo inverted square legal nav icon link"></i>

  <div class="ui purple vertical nav sidebar menu">
    <a class="logo item">
      <i class="legal icon"></i>
      <b>Gavel</b>
    </a>
    {{#if currentUser}}
      <a class="item">
        <img class="ui account avatar image" src="/assets/bros/{{username}}.jpg">
        {{name}}
      </a>

      {{#if isAdmin}}
      <a class="admin item">
        Admin Console
      </a>
      {{/if}}

      <a class="resetPassword item">
        <i class="lock icon"></i>
        Reset Password
      </a>
      <a class="signout item">
        Sign Out
      </a>
    {{/if}}
  </div>

  <div class="ui page dimmer">
    <div class="content">
      <div class="center"></div>
    </div>
  </div>
</template>
